.container{
    position: absolute;    
    top: 50%;
    left: 50%; 
    width: 90%;                 
    transform: translate(-50%, -50%);
    text-align: center;
}

.logoI{
    color : #274e13;
}

.logoAM{
    color : #38761d;
}

.logoGround{
    color : #6aa84f;
}

.btnLogin{
    padding-top: 30%;
    padding-bottom: 30%;
    background-color: #b6d7a8;        
}

#loginTable{
    width: 320px;
    text-align: right;
    margin: auto;

}

.listForm{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);        
}

.list {
    padding: 3px;
    width: 1000px;
}

.list .map{
    border-width: 8px;
    margin-bottom: 5px;
    height: 300px; 
    display: inline-block;
    width: 100%;
    
}

.location{
    font-size: 120px;
    color: white;
}

.mapId{
    font-size: 20px;
    color: white;
}

.list .mo{
    margin-bottom: 5px;
    height: 200px; 
    display: inline-block;
    width: 20%;
}

.list .btnMo{
    margin-bottom: 5px;
    height: 200px; 
    display: inline-block;
    width: 100%;   
}

#navi{
    width:1000px;
    height : 1000px;
    background-color: #274e13;
}

#blackbox{
    width:1000px;
    height : 1000px;
    background-color: #38761d;
}

.directionBtns{
    position: absolute;
    width: 1000px;
    height: 300px;
}

.directionBtns button{
    position: absolute;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    border-width: 8px;
}

.directionBtns .btnForward{    
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.directionBtns .btnLeft{
    
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.directionBtns .btnRight{    
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.directionBtns .btnBackward{
    
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}
















