.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.list{
    top: 0%;
    transform: translate(-50%, 0%);
}

.iamgroundTable{
    margin: auto;
    margin-bottom: 20px;
    width: 330px;
}

.alineRight{
    text-align: right;
}

.alineCenter{
    text-align: center;
}

.alineLeft{
    text-align: left;
}

.width200px{
    width:200px;
}

.width300px{
    width:300px;
}

.width600px{
    width:600px;
}

.fontSize120px{
    font-size: 120px;
}

.fontSize20px{
    font-size: 20px;
}

.displayInlineBlock{
    display: inline-block
}
/*******************
    iamground.php
********************/
.logoI{
    color : #274e13;
}

.logoAM{
    color : #38761d;
}

.logoGround{
    color : #6aa84f;
}

/*******************
    loginForm.php
********************/

.btnLogin{
    padding-top: 30%;
    padding-bottom: 30%;
    background-color: #b6d7a8;
}

.map{
    padding: 3px;
    width: 1000px;
    border-width: 8px;
    margin-bottom: 5px;
    height: 300px;
    display: inline-block;
    color: white;
}

.mo{
    padding: 3px;
    margin-bottom: 5px;
    display: inline-block;
    width: 10%;
    text-align: center;
}

.mo button{
    height: 30px;
    border-width: 0px;
    background-color: white;
}

.mo .btnMo{
    width: 30px;
    border-width: 3px;
    margin-bottom: 0px;
}

#navi{
    width:900px;
    height : 900px;
    background-color: #274e13;
}

#blackbox{
    width:300px;
    height : 300px;
    background-color: #38761d;
}

.directionBtns{
    position: absolute;
    top: 65%;
    width: 900px;
    height: 300px;
}

.directionBtns button{
    position: absolute;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    border-width: 8px;
}

.directionBtns .btnForward{
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.directionBtns .btnLeft{

    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.directionBtns .btnRight{
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.directionBtns .btnBackward{

    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.btnManage{
    background-color: #b6d7a8;
}

.mapLocationText{
    height : 50px;
    width: 300px;
    font-size : 35px;
